h3 Get activity for the driver
form(action='/get_driver_activity_logs', method='post')
   p Admin Password:
   input(type='password', name='password')
   p Driver's ID:
   input(type='text', name='driver_id')
   p
   input(type='submit', value='submit')
