h3 Ride completed Today
    form(action='/rides_completed_today', method='get')
        input(type='submit', value='submit')
h3 All Rides Summary for Today
    form(action='/rides_today', method='get')
        input(type='submit', value='submit')
h3 Users registered Today
    form(action='/users_registered_today', method='get')
        input(type='submit', value='submit')
