h3 Add coupons for dormant users
form(action='/give_coupons_to_dormant_users', method='post')
   p Admin Password:
   input(type='password', name='password')
   p To Users dormant since (eg. 2015-01-20):
   input(type='text', name='dormant_since')
   p Validity of coupons in days:
   input(type='number', name='coupon_validity')
   input(type='submit', value='submit')
h3 Add coupons for users who have taken a paid ride with us and took their last paid ride with us before the given date and don't have a coupon in their account
form(action='/give_coupons_to_paid_users', method='post')
   p Admin Password:
   input(type='password', name='password')
   p To Users with last ride before (eg. 2015-01-20):
   input(type='text', name='last_ride_before')
   p Validity of coupons in days:
   input(type='number', name='coupon_validity')
   input(type='submit', value='submit')
