h3 Blast notifications to users
p Put filter as 0, to send test notification to harsh, chinmay and tushar
p Put filter as 1, to send this notification to all users
p Put filter as 4, to send this notification to users whose coupons are expiring on 31st Dec 2014
form(action='/blast_notification_to_users', method='post')
   | message:
   input(type='text', name='message')
   | filter:
   input(type='text', name='filter')
   | password:
   input(type='text', name='password')
   input(type='submit', value='submit')
