h3 Enter Pickup Schedule (Enter the pickup time and the scheduler will get fired 30 minutes before it)
form(action='/insert_pickup_schedule', method='post')
    | user_id :
    input(type='text', name='user_id')
    | latitude :
    input(type='text', name='latitude')
    | longitude :
    input(type='text', name='longitude')
    | pickup_time in IST (eg. 2014-11-03 17:45:00) :
    input(type='text', name='pickup_time')
    | manual_destination_latitude :
    input(type='text', name='manual_destination_latitude')
    | manual_destination_longitude :
    input(type='text', name='manual_destination_longitude')
    | manual_destination_address :
    input(type='text', name='manual_destination_address')
    input(type='submit', value='submit')
h3 Create Manual Engagement
form(action='/create_manual_engagement', method='post')
    | customer_id:
    input(type='text', name='customer_id')
    | pickup_latitude:
    input(type='text', name='pickup_latitude')
    | pickup_longitude:
    input(type='text', name='pickup_longitude')
    | manual_destination_latitude :
    input(type='text', name='manual_destination_latitude')
    | manual_destination_longitude :
    input(type='text', name='manual_destination_longitude')
    | manual_destination_address :
    input(type='text', name='manual_destination_address')
    | driver_id:
    input(type='text', name='driver_id')
    input(type='submit', value='submit')
h3 show_pickup_schedules
form(action='/show_pickup_schedules', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')


