h3 Remove driver from the station
form(action='/remove_driver_from_station', method='post')
   | Admin Password:
   input(type='text', name='password')
   | Driver ID:
   input(type='text', name='driver_id')
   input(type='submit', value='submit')
h3 Change station for the driver
form(action='/relocate_driver', method='post')
   | Admin Password:
   input(type='text', name='password')
   | Driver ID:
   input(type='text', name='driver_id')
   | Station Number:
   input(type='text', name='station_number')
   input(type='submit', value='submit')
h3 Get nearest available station
form(action='/get_nearest_station', method='post')
   | Access Token:
   input(type='text', name='access_token')
   | latitude:
   input(type='text', name='latitude')
   | longitude:
   input(type='text', name='longitude')
   input(type='submit', value='submit')
h3 acknowledge_stationing
form(action='/acknowledge_stationing', method='post')
   | Access Token:
   input(type='text', name='access_token')
   | Station Id:
   input(type='text', name='station_id')
   input(type='submit', value='submit')
h3 Check stationing numbers sanity
form(action='/check_stationing_sanity', method='post')
   input(type='submit', value='submit')
h3 FOR TESTING PURPOSES

h3 update Driver Location
form(action='/update_driver_location', method='post')
   | Access Token:
   input(type='text', name='access_token')
   | latitude:
   input(type='text', name='latitude')
   | longitude:
   input(type='text', name='longitude')
   | Device token
   input(type='text', name='device_token')
   input(type='submit', value='submit')