h3 Get credentials for Demo
    form(action='/request_credentials', method='post')
        input(type='submit', value='submit')
h3 Define undefined pickup addresses
    form(action='/define_pickup_addresses', method='post')
        input(type='submit', value='submit')
h3 fb_register login
  form(action='/customer_fb_registeration_form', method='post')
      | user_fb_id:
      input(type='text', name='user_fb_id')
      | user_fb_name :
      input(type='text', name='user_fb_name')
      | fb_access_token :
      input(type='text', name='fb_access_token')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      | device_token :
      input(type='text', name='device_token')
      | device_type :
      input(type='text', name='device_type')
      | app_version :
      input(type='text', name='app_version')
      | country_code :
      input(type='text', name='country')
      | os_version :
      input(type='text', name='os_version')
      | device_name :
      input(type='text', name='device_name')
      | fb_mail :
      input(type='text', name='fb_mail')
      | ph_no :
      input(type='text', name='ph_no')
      | password :
      input(type='text', name='password')
      | username :
      input(type='text', name='username')
      | otp :
      input(type='text', name='otp')
      input(type='submit', value='submit')
h3 register
  form(action='/customer_registeration', method='post')
      | user_name :
      input(type='text', name='user_name')
      | ph no :
      input(type='text', name='ph_no')
      | email :
      input(type='text', name='email')
      | password :
      input(type='text', name='password')
      | otp :
      input(type='text', name='otp')
      | device_type :
      input(type='text', name='device_type')
      | device_token :
      input(type='text', name='device_token')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      | country :
      input(type='text', name='country')
      | device_name :
      input(type='text', name='device_name')
      | app_versioncode :
      input(type='text', name='app_version')
      | os_version :
      input(type='text', name='os_version')
      input(type='submit', value='submit')
h3 Find a driver
  form(action='/find_a_driver', method='post')
      | access token :
      input(type='text', name='access_token')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      input(type='submit', value='submit')
h3 email_login
  form(action='/email_login', method='post')
      | email :
      input(type='text', name='email')
      | password :
      input(type='text', name='password')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      | country :
      input(type='text', name='country')
      | os_version :
      input(type='text', name='os_version')
      | device_name :
      input(type='text', name='device_name')
      | device_token :
      input(type='text', name='device_token')
      | device_type :
      input(type='text', name='device_type')
      input(type='submit', value='submit')
h3 access_token_login
  form(action='/access_token', method='post')
      | access_token :
      input(type='text', name='access_token')
      input(type='submit', value='submit')
h3 send_req_for_ride
  form(action='/send_req_for_ride', method='post')
      | flag :
      input(type='text', name='flag')
      | pre_engage_id :
      input(type='text', name='pre_engage_id')
      | access_token :
      input(type='text', name='access_token')
      | user_id :
      input(type='text', name='user_id')
      | pre_user_id :
      input(type='text', name='pre_user_id')
      | pickup_latitude :
      input(type='text', name='pickup_latitude')
      | pickup_longitude :
      input(type='text', name='pickup_longitude')
      | session_id :
      input(type='text', name='session_id')
      input(type='submit', value='submit')
h3 accept_a_ride
  form(action='/accept_a_ride', method='post')
      | access_token :
      input(type='text', name='access_token')
      | user_id :
      input(type='text', name='user_id')
      | engage_id :
      input(type='text', name='engage_id')
      | session_id :
      input(type='text', name='session_id')
      input(type='submit', value='submit')
h3 reject_a_ride
  form(action='/reject_a_ride', method='post')
      | access_token :
      input(type='text', name='access_token')
      | flag :
      input(type='text', name='flag')
      | user_id :
      input(type='text', name='user_id')
      | engage_id :
      input(type='text', name='engage_id')
      input(type='submit', value='submit')
h3 cancel_the_req
  form(action='/cancel_the_req', method='post')
      | flag :
      input(type='text', name='flag')
      | access_token :
      input(type='text', name='access_token')
      | driver_id :
      input(type='text', name='driver_id')
      | engage_id :
      input(type='text', name='engage_id')
      | session_id :
      input(type='text', name='session_id')
      input(type='submit', value='submit')
h3 switch_to_driver_mode
  form(action='/switch_to_driver_mode', method='post')
      | access_token :
      input(type='text', name='access_token')
      | flag :
      input(type='text', name='flag')
      input(type='submit', value='submit')
h3 start_ride
  form(action='/start_ride', method='post')
      | access_token :
      input(type='text', name='access_token')
      | engagement_id :
      input(type='text', name='engagement_id')
      | customer_id :
      input(type='text', name='customer_id')
      | pickup_location_address :
      input(type='text', name='pickup_location_address')
      input(type='submit', value='submit')
h3 end_ride
  form(action='/end_ride', method='post')
      | access_token :
      input(type='text', name='access_token')
      | engagement_id :
      input(type='text', name='engagement_id')
      | customer_id :
      input(type='text', name='customer_id')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      | distance_travelled :
      input(type='text', name='distance_travelled')
      | wait_time :
      input(type='text', name='wait_time')
      | drop_location_address :
      input(type='text', name='drop_location_address')
      input(type='submit', value='submit')
h3 rating
  form(action='/rating', method='post')
      | access_token :
      input(type='text', name='access_token')
      | engagement_id :
      input(type='text', name='engagement_id')
      | given_rating :
      input(type='text', name='given_rating')
      | flag :
      input(type='text', name='flag')
      | rating_receiver_id :
      input(type='text', name='rating_receiver_id')
      input(type='submit', value='submit')
h3 Get missed requests
    form(action='/get_missed_rides', method='post')
        | access token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 driver_details
  form(action='/driver_details', method='post')
      | access_token :
      input(type='text', name='access_token')
      | driver_id :
      input(type='text', name='driver_id')
      input(type='submit', value='submit')
h3 update_driver_location
  form(action='/update_driver_location', method='post')
      | access_token :
      input(type='text', name='access_token')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      input(type='submit', value='submit')
h3 fav_locations
  form(action='/fav_locations', method='post')
      | access_token :
      input(type='text', name='access_token')
      | fav_latitude :
      input(type='text', name='fav_latitude')
      | fav_longitude :
      input(type='text', name='fav_longitude')
      | fav_name :
      input(type='text', name='fav_name')
      input(type='submit', value='submit')
h3 get_fav_locations
  form(action='/get_fav_locations', method='post')
      | access_token :
      input(type='text', name='access_token')
      input(type='submit', value='submit')
h3 delete_fav_locations
  form(action='/delete_fav_locations', method='post')
      | access_token :
      input(type='text', name='access_token')
      | s_no :
      input(type='text', name='s_no')
      input(type='submit', value='submit')
h3 invite_friends
  form(action='/invite_friends', method='post')
      | fb_access_token :
      input(type='text', name='fb_access_token')
      | fb_id :
      input(type='text', name='fb_id')
      input(type='submit', value='submit')
h3 logout
  form(action='/logout', method='post')
      | access_token :
      input(type='text', name='access_token')
      | id :
      input(type='text', name='id')
      input(type='submit', value='submit')
h3 userData
  form(action='/userData', method='post')
      | access_token :
      input(type='text', name='access_token')
      input(type='submit', value='submit')
h3 forgot_password
  form(action='/forgot_password', method='post')
      | email :
      input(type='text', name='email')
      input(type='submit', name='submit')
h3 wait_push
  form(action='/wait_push', method='post')
      | access_token :
      input(type='text', name='access_token')
      | user_id :
      input(type='text', name='user_id')
      | flag :
      input(type='text', name='flag')
      input(type='submit', name='submit')
h3 booking_history
  form(action='/booking_history', method='post')
      | access_token :
      input(type='text', name='access_token')
      | current_mode :
      input(type='text', name='current_mode')
      input(type='submit', name='submit')
h3 request_now
  form(action='/request_now', method='post')
      | access_token :
      input(type='text', name='access_token')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      input(type='submit', name='submit')
h3 user_status
  form(action='/user_status', method='post')
      | access_token :
      input(type='text', name='access_token')
      | engage_id :
      input(type='text', name='engage_id')
      input(type='submit', name='submit')
h3 request_session_id
  form(action='/request_session_id', method='post')
      | access_token :
      input(type='text', name='access_token')
      input(type='submit', name='submit')
h3 get_driver_current_location
  form(action='/get_driver_current_location', method='post')
      | access_token :
      input(type='text', name='access_token')
      | driver_id :
      input(type='text', name='driver_id')
      input(type='submit', name='submit')
h3 temp
  form(action='/temp', method='post')
      input(type='submit', name='submit')
h3 Request ride for new dispatcher
form(action='/request_ride', method='post')
    | access token :
    input(type='text', name='access_token')
    | latitude :
    input(type='text', name='latitude')
    | longitude :
    input(type='text', name='longitude')
    input(type='submit', value='submit')
h3 Accept ride for new dispatcher
form(action='/accept_a_request', method='post')
    | access_token :
    input(type='text', name='access_token')
    | customer_id :
    input(type='text', name='customer_id')
    | engagement_id :
    input(type='text', name='engagement_id')
    | latitude :
    input(type='text', name='latitude')
    | longitude :
    input(type='text', name='longitude')
    input(type='submit', value='submit')
h3 Reject ride for new dispatcher
form(action='/reject_a_request', method='post')
    | access_token :
    input(type='text', name='access_token')
    | customer_id :
    input(type='text', name='customer_id')
    | engagement_id :
    input(type='text', name='engagement_id')
    input(type='submit', value='submit')
