h3 rate_the_driver_or_customer
form(action='/rate_the_driver_or_customer', method='post')
    | access token :
    input(type='text', name='access_token')
    | engagement_id :
    input(type='text', name='engagement_id')
    | driver_flag :
    input(type='text', name='driver_flag')
    | feedback :
    input(type='text', name='feedback')
    | given_rating :
    input(type='text', name='given_rating')
    | user_id :
    input(type='text', name='user_id')
    input(type='submit', value='submit')
h3 Start and End Wait
form(action='/start_end_wait', method='post')
    | access token :
    input(type='text', name='access_token')
    | engagement_id :
    input(type='text', name='engagement_id')
    | flag :
    input(type='text', name='flag')
    input(type='submit', value='submit')
h3 Send SMS
form(action='/send_sms', method='post')
    | user_id:
    input(type='text', name='user_id')
    | message:
    input(type='text', name='message')
    input(type='submit', value='submit')
h3 Send email
form(action='/send_email', method='post')
    | user_id:
    input(type='text', name='user_id')
    | subject:
    input(type='text', name='subject')
    | message:
    input(type='text', name='message')
    input(type='submit', value='submit')
h3 Send notification
form(action='/send_notification', method='post')
    | user_id:
    input(type='text', name='user_id')
    | message:
    input(type='text', name='message')
    input(type='submit', value='submit')
h3 Disable a user
form(action='/disable_user', method='post')
    | user_id:
    input(type='text', name='user_id')
    | admin password:
    input(type='text', name='password')
    input(type='submit', value='submit')
h3 Block a user
p Put reason as 0, to send this message: This number is suspected to not to belong to the actual owner and we are blocking its use in Jugnoo. To unblock please send a mail to support@jugnoo.in
p Put reason as 1, to send this message: The email ID used with this number is invalid. To unblock please send a mail to support@jugnoo.in
p Put reason as 2, to send this message: We found the usage against the Terms of Use and we have blocked this number. To unblock please send a mail to support@jugnoo.in
form(action='/block_user', method='post')
    | admin password:
    input(type='text', name='password')
    | user_id:
    input(type='text', name='user_id')
    | Reason:
    input(type='text', name='reason')
    input(type='submit', value='submit')
h3 Toggle location updates
form(action='/toggle_location_updates', method='post')
    | driver_id:
    input(type='text', name='driver_id')
    | flag:
    input(type='text', name='flag')
    input(type='submit', value='submit')
h3 Check response for Twilio's voice to text
form(action='/get_otp_using_number', method='post')
    | To:
    input(type='text', name='To')
    input(type='submit', value='submit')
h3 Stress testing notification
    form(action='/check_push_notification', method='post')
        | user_id:
        input(type='text', name='user_id')
        | num:
        input(type='text', name='num')
        input(type='submit', value='submit')
h3 Create Manual Engagement
    form(action='/create_manual_engagement', method='post')
        | customer_id:
        input(type='text', name='customer_id')
        | pickup_latitude:
        input(type='text', name='pickup_latitude')
        | pickup_longitude:
        input(type='text', name='pickup_longitude')
        | manual_destination_latitude :
        input(type='text', name='manual_destination_latitude')
        | manual_destination_longitude :
        input(type='text', name='manual_destination_longitude')
        | manual_destination_address :
        input(type='text', name='manual_destination_address')
        | driver_id:
        input(type='text', name='driver_id')
        input(type='submit', value='submit')
h3 Clear Engagements for Driver
    form(action='/clear_engagements_for_driver', method='post')
        | driver_id:
        input(type='text', name='driver_id')
        input(type='submit', value='submit')
h3 Clear Engagements for Customer
    form(action='/clear_engagements_for_customer', method='post')
        | customer_id:
        input(type='text', name='customer_id')
        input(type='submit', value='submit')
h3 Driver Location Updates
    form(action='/get_location_updates', method='post')
        | driver_id:
        input(type='text', name='driver_id')
        | start_time (eg. 2014-10-30 10:00:00):
        input(type='text', name='start_time')
        | end_time (eg. 2014-10-30 11:00:00):
        input(type='text', name='end_time')
        input(type='submit', value='submit')
h3 Define undefined pickup addresses
    form(action='/define_pickup_addresses', method='post')
        input(type='submit', value='submit')
h3 fb_register login
  form(action='/customer_fb_registeration_form', method='post')
      | user_fb_id:
      input(type='text', name='user_fb_id')
      | user_fb_name :
      input(type='text', name='user_fb_name')
      | fb_access_token :
      input(type='text', name='fb_access_token')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      | device_token :
      input(type='text', name='device_token')
      | device_type :
      input(type='text', name='device_type')
      | app_version :
      input(type='text', name='app_version')
      | country_code :
      input(type='text', name='country')
      | os_version :
      input(type='text', name='os_version')
      | device_name :
      input(type='text', name='device_name')
      | fb_mail :
      input(type='text', name='fb_mail')
      | ph_no :
      input(type='text', name='ph_no')
      | password :
      input(type='text', name='password')
      | username :
      input(type='text', name='username')
      | otp :
      input(type='text', name='otp')
      input(type='submit', value='submit')
h3 register
  form(action='/customer_registeration', method='post', enctype="multipart/form-data")
      | user_name :
      input(type='text', name='user_name')
      | ph no :
      input(type='text', name='ph_no')
      | email :
      input(type='text', name='email')
      | password :
      input(type='text', name='password')
      | otp :
      input(type='text', name='otp')
      | device_type :
      input(type='text', name='device_type')
      | device_token :
      input(type='text', name='device_token')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      | country :
      input(type='text', name='country')
      | device_name :
      input(type='text', name='device_name')
      | app_versioncode :
      input(type='text', name='app_version')
      | os_version :
      input(type='text', name='os_version')
      | make_me_driver_flag :
      input(type='text', name='make_me_driver_flag')
      | nounce :
      input(type='text', name='nounce')
      | image_flag :
      input(type='text', name='image_flag')
      | referral_code :
      input(type='text', name='referral_code')
      | image :
      input(type='file', name='image')
      | corporate_email :
      input(type='text', name='corporate_email')
      | corporate_otp :
      input(type='text', name='corporate_otp')
      input(type='submit', value='submit')
h3 Find a driver
  form(action='/find_a_driver', method='post')
      | access token :
      input(type='text', name='access_token')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      | car_type :
      input(type='text', name='car_type')
      input(type='submit', value='submit')
h3 email_login
  form(action='/email_login', method='post')
      | email :
      input(type='text', name='email')
      | password :
      input(type='text', name='password')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      | country :
      input(type='text', name='country')
      | os_version :
      input(type='text', name='os_version')
      | device_name :
      input(type='text', name='device_name')
      | device_token :
      input(type='text', name='device_token')
      | device_type :
      input(type='text', name='device_type')
      input(type='submit', value='submit')
h3 access_token_login
  form(action='/access_token', method='post')
      | access_token :
      input(type='text', name='access_token')
      input(type='submit', value='submit')
h3 send_req_for_ride
  form(action='/send_req_for_ride', method='post')
      | flag :
      input(type='text', name='flag')
      | pre_engage_id :
      input(type='text', name='pre_engage_id')
      | access_token :
      input(type='text', name='access_token')
      | user_id :
      input(type='text', name='user_id')
      | pre_user_id :
      input(type='text', name='pre_user_id')
      | pickup_latitude :
      input(type='text', name='pickup_latitude')
      | pickup_longitude :
      input(type='text', name='pickup_longitude')
      | session_id :
      input(type='text', name='session_id')
      input(type='submit', value='submit')
h3 accept_a_ride
  form(action='/accept_a_ride', method='post')
      | access_token :
      input(type='text', name='access_token')
      | user_id :
      input(type='text', name='user_id')
      | engage_id :
      input(type='text', name='engage_id')
      | session_id :
      input(type='text', name='session_id')
      input(type='submit', value='submit')
h3 reject_a_ride
  form(action='/reject_a_ride', method='post')
      | access_token :
      input(type='text', name='access_token')
      | flag :
      input(type='text', name='flag')
      | user_id :
      input(type='text', name='user_id')
      | engage_id :
      input(type='text', name='engage_id')
      input(type='submit', value='submit')
h3 cancel_the_req
  form(action='/cancel_the_req', method='post')
      | flag :
      input(type='text', name='flag')
      | access_token :
      input(type='text', name='access_token')
      | driver_id :
      input(type='text', name='driver_id')
      | engage_id :
      input(type='text', name='engage_id')
      | session_id :
      input(type='text', name='session_id')
      input(type='submit', value='submit')
h3 switch_to_driver_mode
  form(action='/switch_to_driver_mode', method='post')
      | access_token :
      input(type='text', name='access_token')
      | flag :
      input(type='text', name='flag')
      input(type='submit', value='submit')
h3 start_ride
  form(action='/start_ride', method='post')
      | access_token :
      input(type='text', name='access_token')
      | engagement_id :
      input(type='text', name='engagement_id')
      | customer_id :
      input(type='text', name='customer_id')
      | pickup_location_address :
      input(type='text', name='pickup_location_address')
      input(type='submit', value='submit')
h3 end_ride
  form(action='/end_ride', method='post')
      | access_token :
      input(type='text', name='access_token')
      | engagement_id :
      input(type='text', name='engagement_id')
      | drop_latitude :
      input(type='text', name='latitude')
      | drop_longitude :
      input(type='text', name='longitude')
      | distance_travelled :
      input(type='text', name='distance_travelled')
      | wait_time :
      input(type='text', name='wait_time')
      | ride_time :
      input(type='text', name='ride_time')
      input(type='submit', value='submit')
h3 rating
  form(action='/rating', method='post')
      | access_token :
      input(type='text', name='access_token')
      | engagement_id :
      input(type='text', name='engagement_id')
      | given_rating :
      input(type='text', name='given_rating')
      | flag :
      input(type='text', name='flag')
      | rating_receiver_id :
      input(type='text', name='rating_receiver_id')
      input(type='submit', value='submit')
h3 Get missed requests
    form(action='/get_missed_rides', method='post')
        | access token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 driver_details
  form(action='/driver_details', method='post')
      | access_token :
      input(type='text', name='access_token')
      | driver_id :
      input(type='text', name='driver_id')
      input(type='submit', value='submit')
h3 update_driver_location
  form(action='/update_driver_location', method='post')
      | access_token :
      input(type='text', name='access_token')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      input(type='submit', value='submit')
h3 fav_locations
  form(action='/fav_locations', method='post')
      | access_token :
      input(type='text', name='access_token')
      | fav_latitude :
      input(type='text', name='fav_latitude')
      | fav_longitude :
      input(type='text', name='fav_longitude')
      | fav_name :
      input(type='text', name='fav_name')
      input(type='submit', value='submit')
h3 get_fav_locations
  form(action='/get_fav_locations', method='post')
      | access_token :
      input(type='text', name='access_token')
      input(type='submit', value='submit')
h3 delete_fav_locations
  form(action='/delete_fav_locations', method='post')
      | access_token :
      input(type='text', name='access_token')
      | s_no :
      input(type='text', name='s_no')
      input(type='submit', value='submit')
h3 invite_friends
  form(action='/invite_friends', method='post')
      | fb_access_token :
      input(type='text', name='fb_access_token')
      | fb_id :
      input(type='text', name='fb_id')
      input(type='submit', value='submit')
h3 logout
  form(action='/logout', method='post')
      | access_token :
      input(type='text', name='access_token')
      | id :
      input(type='text', name='id')
      input(type='submit', value='submit')
h3 userData
  form(action='/userData', method='post')
      | access_token :
      input(type='text', name='access_token')
      input(type='submit', value='submit')
h3 forgot_password
  form(action='/forgot_password', method='post')
      | email :
      input(type='text', name='email')
      input(type='submit', name='submit')
h3 wait_push
  form(action='/wait_push', method='post')
      | access_token :
      input(type='text', name='access_token')
      | user_id :
      input(type='text', name='user_id')
      | flag :
      input(type='text', name='flag')
      input(type='submit', name='submit')
h3 booking_history
  form(action='/booking_history', method='post')
      | access_token :
      input(type='text', name='access_token')
      | current_mode :
      input(type='text', name='current_mode')
      input(type='submit', name='submit')
h3 request_now
  form(action='/request_now', method='post')
      | access_token :
      input(type='text', name='access_token')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      input(type='submit', name='submit')
h3 user_status
  form(action='/user_status', method='post')
      | access_token :
      input(type='text', name='access_token')
      | engage_id :
      input(type='text', name='engage_id')
      input(type='submit', name='submit')
h3 request_session_id
  form(action='/request_session_id', method='post')
      | access_token :
      input(type='text', name='access_token')
      input(type='submit', name='submit')
h3 get_driver_current_location
  form(action='/get_driver_current_location', method='post')
      | access_token :
      input(type='text', name='access_token')
      | driver_id :
      input(type='text', name='driver_id')
      input(type='submit', name='submit')
h3 temp
  form(action='/temp', method='post')
      input(type='submit', name='submit')
h3 Request ride for new dispatcher
form(action='/request_ride', method='post')
    | access token :
    input(type='text', name='access_token')
    | pickup_latitude :
    input(type='text', name='pickup_latitude')
    | pickup_longitude :
    input(type='text', name='pickup_longitude')
    | current_latitude :
    input(type='text', name='current_latitude')
    | current_longitude :
    input(type='text', name='current_longitude')
    | duplicate_flag :
    input(type='text', name='duplicate_flag')
    | accuracy :
    input(type='text', name='accuracy')
    | pickup_id :
    input(type='text', name='pickup_id')
    | manual_destination_latitude :
    input(type='text', name='manual_destination_latitude')
    | manual_destination_longitude :
    input(type='text', name='manual_destination_longitude')
    | manual_destination_address :
    input(type='text', name='manual_destination_address')
    input(type='submit', value='submit')
h3 Accept ride for new dispatcher
form(action='/accept_a_request', method='post')
    | access_token :
    input(type='text', name='access_token')
    | customer_id :
    input(type='text', name='customer_id')
    | engagement_id :
    input(type='text', name='engagement_id')
    | latitude :
    input(type='text', name='latitude')
    | longitude :
    input(type='text', name='longitude')
    input(type='submit', value='submit')
h3 Reject ride for new dispatcher
form(action='/reject_a_request', method='post')
    | access_token :
    input(type='text', name='access_token')
    | customer_id :
    input(type='text', name='customer_id')
    | engagement_id :
    input(type='text', name='engagement_id')
    input(type='submit', value='submit')
h3 login_driver_via_email
form(action='/login_driver_via_email', method='post')
      | email :
      input(type='text', name='email')
      | password :
      input(type='text', name='password')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      | country :
      input(type='text', name='country')
      | os_version :
      input(type='text', name='os_version')
      | device_name :
      input(type='text', name='device_name')
      | device_token :
      input(type='text', name='device_token')
      | device_type :
      input(type='text', name='device_type')
      input(type='submit', value='submit') 
h3 login_driver_via_access_token
form(action='/login_driver_via_access_token', method='post')
      | access_token :
      input(type='text', name='access_token')
      | latitude :
      input(type='text', name='latitude')
      | longitude :
      input(type='text', name='longitude')
      | country :
      input(type='text', name='country')
      | os_version :
      input(type='text', name='os_version')
      | device_name :
      input(type='text', name='device_name')
      | device_token :
      input(type='text', name='device_token')
      | device_type :
      input(type='text', name='device_type')
      input(type='submit', value='submit')
h3 user_profile_information
form(action='/user_profile_information', method='post')
      | access_token :
      input(type='text', name='access_token')
      input(type='submit', value='submit')
h3 edit_customer_profile
form(action='/edit_customer_profile', method='post', enctype="multipart/form-data")
    | access_token :
    input(type='text', name='access_token')
    | user_name :
    input(type='text', name='user_name')
    | image :
    input(type='file', name='image')
    | image_flag :
    input(type='text', name='image_flag')
    input(type='submit', value='submit')
h3 edit_driver_profile
form(action='/edit_driver_profile', method='post', enctype="multipart/form-data")
    | access_token :
    input(type='text', name='access_token')
    | user_name :
    input(type='text', name='user_name')
    | image :
    input(type='file', name='image')
    | image_flag :
    input(type='text', name='image_flag')
    | bank_account_stripe_token :
    input(type='text', name='bank_account_stripe_token')
    input(type='submit', value='submit')
h3 update_manual_destination
form(action='/update_manual_destination', method='post')
    | access_token :
    input(type='text', name='access_token')
    | engagement_id :
    input(type='text', name='engagement_id')
    | manual_destination_latitude :
    input(type='file', name='manual_destination_latitude')
    | manual_destination_longitude :
    input(type='text', name='manual_destination_longitude')
    | manual_destination_address :
    input(type='text', name='manual_destination_address')
    input(type='submit', value='submit')
h3 reset_password
form(action='/reset_password', method='post')
    | access_token :
    input(type='text', name='access_token')
    | old_password :
    input(type='text', name='old_password')
    | new_password :
    input(type='text', name='new_password')
    input(type='submit', value='submit')
h3 request_ride
form(action='/request_ride', method='post')
    | access_token :
    input(type='text', name='access_token')
    | latitude :
    input(type='text', name='latitude')
    | longitude :
    input(type='text', name='longitude')
    | manual_destination_latitude :
    input(type='text', name='manual_destination_latitude')
    | manual_destination_longitude :
    input(type='text', name='manual_destination_longitude')
    | manual_destination_address :
    input(type='text', name='manual_destination_address')
    | current_latitude :
    input(type='text', name='current_latitude')
    | current_longitude :
    input(type='text', name='current_longitude')
    | duplicate_flag :
    input(type='text', name='duplicate_flag')
    input(type='submit', value='submit')
h3 get_braintree_token
form(action='/get_braintree_token', method='post')
    input(type='submit', value='submit')
h3 add_credit_card
form(action='/add_credit_card', method='post')
    | access_token :
    input(type='text', name='access_token')
    | nounce :
    input(type='text', name='nounce')
    input(type='submit', value='submit')
h3 list_credit_cards
form(action='/list_credit_cards', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
h3 change_default_credit_card
form(action='/change_default_credit_card', method='post')
    | access_token :
    input(type='text', name='access_token')
    | card_id :
    input(type='text', name='card_id')
    input(type='submit', value='submit')
h3 delete_credit_card
form(action='/delete_credit_card', method='post')
    | access_token :
    input(type='text', name='access_token')
    | card_id :
    input(type='text', name='card_id')
    input(type='submit', value='submit')
h3 payment_on_ride_completion
form(action='/payment_on_ride_completion', method='post')
    | access_token :
    input(type='text', name='access_token')
    | engagement_id :
    input(type='text', name='engagement_id')
    | payment_method :
    input(type='text', name='payment_method')
    | to_pay :
    input(type='text', name='to_pay')
    | tip :
    input(type='text', name='tip')
    input(type='submit', value='submit')
h3 send_otp_via_call
form(action='/send_otp_via_call', method='post')
    | phone_no :
    input(type='text', name='phone_no')
    input(type='submit', value='submit')
h3 send_split_fare_request
form(action='/send_split_fare_request', method='post')
    | access_token :
    input(type='text', name='access_token')
    | engagement_id :
    input(type='text', name='engagement_id')
    | phone_no :
    input(type='text', name='phone_no')
    input(type='submit', value='submit')
h3 split_fare_screen
form(action='/split_fare_screen', method='post')
    | access_token :
    input(type='text', name='access_token')
    | engagement_id :
    input(type='text', name='engagement_id')
    input(type='submit', value='submit')
h3 user_response_to_split_fare_request
form(action='/user_response_to_split_fare_request', method='post')
    | access_token :
    input(type='text', name='access_token')
    | split_id :
    input(type='text', name='split_id')
    | user_response_flag :
    input(type='text', name='user_response_flag')
    input(type='submit', value='submit')
h3 resend_split_fare_request
form(action='/resend_split_fare_request', method='post')
    | access_token :
    input(type='text', name='access_token')
    | split_id :
    input(type='text', name='split_id')
    input(type='submit', value='submit')
h3 start_app_using_access_token
form(action='/start_app_using_access_token', method='post')
    | access_token :
    input(type='text', name='access_token')
    | latitude :
    input(type='text', name='latitude')
    | longitude :
    input(type='text', name='longitude')
    | device_type :
    input(type='text', name='device_type')
    input(type='submit', value='submit')
h3 get_coupons
form(action='/get_coupons', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
h3 enter_code
form(action='/enter_code', method='post')
    | access_token :
    input(type='text', name='access_token')
    | code :
    input(type='text', name='code')
    input(type='submit', value='submit')
h3 show_pickup_schedules
form(action='/show_pickup_schedules', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')