

<div>

<h1>

drivenLimousines About Section

</h1>
 </div>
<!--                     <div id="content" style="text-align:center;font-size:16.67px">
<p id="para_1" style="text-align:justify">xyz is a privately held, GaboroneŠbased Botswana transportation network company. The company's mobile-phone application connects passengers who need a cab to drivers who have a car. CabIT currently operates in Gaborone, but plans to expand both domestically and internationally into other Southern African markettts. </p>
<p id="para_2" style="text-align:justify">CabIT Mobile application lets you book an cab in Gaborone, whenever and wherever you want. CabIT is a revolutionary way to travel in cabs at fair cost and more convenience. Be the part of CabIT community today and enjoy an affordable and safe cab ride within minutes. All our cab drivers are thoroughly screened, verified and trained to ensure safe and best experience to our valuable passengers! </p><br>
<p id="query_text" style="font-size:16.67px">For any queries and Suggestions call us at:</p>
<p id="phone_num" style="color:rgb(172,173,172);">+267744632600002</p><br>
<div id="contact_email_text" style="font-size:16.67px">Write us at E-mail address:</div>
<p id="contact_email" style="color:rgb(172,173,172);">info@cabITAfrica.com</p><br>
<div id="webiste_text" style="font-size:16.67px">Website</div>
<p id="website" style="color:rgb(172,173,172);"><a href="http://www.cabitafrica.com" target="_blank">www.cabitafrica.com</a></p>
</div>
         -->