<!--<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:0px;color:rgb(0,0,0);font-family:Times;font-size:medium;background-color:rgb(242,242,242)">-->
    <!--<tbody>-->
    <!--<tr>-->
        <!--<td align="center" valign="top">-->
            <!--<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top-width:0px;border-bottom-width:0px;background-color:rgb(255,255,255)">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td valign="top" style="padding-top:9px">-->
                        <!--<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">-->
                            <!--<tbody></tbody>-->
                        <!--</table>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td align="center" valign="top">-->
            <!--<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top-width:0px;border-bottom-width:0px;background-color:rgb(255,255,255)">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td valign="top">-->
                        <!--<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<td valign="top" style="padding:9px">-->
                                    <!--<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">-->
                                        <!--<tbody>-->
                                        <!--<tr>-->
                                            <!--<td valign="top" style="padding:0px 9px">-->
                                                <!--<img align="left" alt="" src="https://ci5.googleusercontent.com/proxy/INPmEWvpS6WVmrM6UBWEJeWQ03DX62Tg38Npqe9HsW_KcwYVAGAA5hb58yxOKMBchyeRMg8qmFQOaVP1ZQNpu5w5LSPV5By-v7yyTYcO--xFOvOUf8D1kc3zAWhtT2rvVlcK03co0X89gghTwtT_iz-JXvGyZHmP1mStP_Y=s0-d-e1-ft#https://gallery.mailchimp.com/4f0d0bd2cf1c2a9d816925da7/images/75a1d994-4ffe-4c24-89fa-e2cda6ff3a23.png" width="564" style="border:0px;outline:none;vertical-align:bottom;max-width:851px;padding-bottom:0px;display:inline!important" class="CToWUd a6T" tabindex="0">-->
                                                <!--<div class="a6S" dir="ltr" style="opacity: 0.01; left: 534px; top: 343px;">-->
                                                    <!--<div id=":152" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">-->
                                                        <!--<div class="aSK J-J5-Ji aYr"></div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td align="center" valign="top">-->
            <!--<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top-width:0px;border-bottom-width:0px;background-color:rgb(255,255,255)">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td valign="top">-->
                        <!--<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<td valign="top">-->
                                    <!--<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">-->
                                        <!--<tbody>-->
                                        <!--<tr>-->
                                            <!--<td valign="top" style="color:rgb(96,96,96);font-family:Helvetica;font-size:15px;line-height:22.5px;padding:9px 18px">-->
                                                <!--<h1 style="margin:0px;padding:0px;font-size:40px;line-height:50px;letter-spacing:-1px"><span style="line-height:1.6em">Your account has been credited a free Jugnoo ride&nbsp;</span></h1>-->
                                                <!--<p style="margin:1em 0px;padding:0px">It has been a while since you last travelled in a Jugnoo auto. Undoubtedly, we are missing you!!</p>-->
                                                <!--<p style="margin:1em 0px;padding:0px">As a recent user of Jugnoo service, we are crediting one FREE Ride (worth Rs. 100) to your account. Now enjoy hassle free, safe and convenient Jugnoo travel in Chandigarh Tricity.</p>-->
                                                <!--<p style="margin:1em 0px;padding:0px">Our drivers are looking forward to welcoming you again in a Jugnoo Auto. Please feel free to reach us at <a href="mailto:support@jugnoo.in" target="_blank">support@jugnoo.in</a> or call/Wats App us at <b>9023-121-121</b> in case you face any issues.</p>-->
                                                <!--<p style="margin:1em 0px;padding:0px">Regards</p>-->
                                                <!--<p style="margin:1em 0px;padding:0px">Team Jugnoo</p>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td align="center" valign="top">-->
            <!--<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top-width:0px;border-bottom-width:0px;background-color:rgb(255,255,255)">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td valign="top" style="padding-bottom:9px">-->
                        <!--<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<td valign="top">-->
                                    <!--<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">-->
                                        <!--<tbody>-->
                                        <!--<tr>-->
                                            <!--<td valign="top" style="color:rgb(96,96,96);font-family:Helvetica;font-size:11px;line-height:13.75px;padding:9px 18px"><em>Copyright © 2014 Jugnoo, All rights reserved.</em><br></td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>
