
<div>

<h1>

drivenLimousines Faqs

</h1>
 </div>
<!--                                         <div>
                                            <div style="font-size:20px;font-weight:bold;color:#2E6EB7">Why should I use CabIT?</div>
                                            <div style="font-size: 16.67px;">
                                                CabIT is a privately held, Gaborone-based Botswana transportation network company. The company's mobile-phone application connects passengers who need a cab to drivers who have a car. CabIT currently operates in Gaborone, but plans to expand both domestically and internationally into other Southern African markets.
                                                <br><br>
                                                <ul style="padding-left:50px">
                                                    <li style="list-style-type:initial">CabIT is easy. Order a cab near you in just two taps</li>
                                                    <li style="list-style-type:initial">Safe- We only work with licensed drivers and every journey is recorded.</li>
                                                    <li style="list-style-type:initial">Reliable - as soon as a cab is assign to you, you will be able to see it on you App as it makes its way to your location. </li>
                                                    <li style="list-style-type:initial">Transparent Pricing. You get simple, transparent pricing and no unexpected fees.</li>
                                                    <li style="list-style-type:initial">Driver Rating - after each ride, you give feedback on the driver. Drivers that consistently get bad customer feedback will be removed from the application. </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div style="font-size:20px;font-weight:bold;color:#2E6EB7">How do I get CabIT App?</div>
                                            <div style="font-size: 16.67px;">It's easy. If you have an Android phone visit the Google Play Store and search for CabITAfrica. For iPhone, tap the App Store icon on your phone and search for CabITAfrica. Once downloaded, follow our simple registration process in the app and you're ready to go.</div>
                                        </div>
                                        <br>
                                        <div>
                                            <div style="font-size:20px;font-weight:bold;;color:#2E6EB7">How much does CabIT Cost?</div>
                                            <div style="font-size: 16.67px;">The App is free to download from both Google Play and Apple App store. </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div style="font-size:20px;font-weight:bold;;color:#2E6EB7">When do I pay the driver?</div>
                                            <div style="font-size: 16.67px;">Drivers are paid at the end of the trip. An e mail with the trip summary will be sent to you for your records. </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div style="font-size:20px;font-weight:bold;color:#2E6EB7">How do I pay for the ride?</div>
                                            <div style="font-size: 16.67px;">At the moment, only cash payments are accepted. In future, we will have electroninc payment options. </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div style="font-size:20px;font-weight:bold;color:#2E6EB7">Can I pre-book a cab in Advance?</div>
                                            <div style="font-size: 16.67px;">At the moment, no. In future we plan to add enhancement to allow this functionality. </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div style="font-size:20px;font-weight:bold;color:#2E6EB7">Can I order Multiple Cabs?</div>
                                            <div style="font-size: 16.67px;">NO- you cannot. However, you can get other members of your party to download the App and order additional cabs if needed. </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div style="font-size:20px;font-weight:bold;color:#2E6EB7">How will I know if my Cab has arrived?</div>
                                            <div style="font-size: 16.67px;">When your cab arrives, you willl receive a text notification. Furthemore, you will have the picture of the cab and driver on the App. </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div style="font-size:20px;font-weight:bold;color:#2E6EB7">Can I contact the driver if he is running late?</div>
                                            <div style="font-size: 16.67px;">YES- you can contact the driver either by calling or sending  a text message from the application. </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div style="font-size:20px;font-weight:bold;color:#2E6EB7">Can I cancel my Ride after ordering it?</div>
                                            <div style="font-size: 16.67px;">Yes- as long as cancelation is within 2 minutes of the order. </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div style="font-size:20px;font-weight:bold;color:#2E6EB7">How can I contact CabIT?</div>
                                            <div style="font-size: 16.67px;">
                                                We are available via the following Channels: <br>
                                                <div>E-Mail: info@cabITAfrica.com</div>
                                                <div>Website: <a href="http://www.CabITAfrica.com" target="_blank">www.CabITAfrica.com</a></div>
                                                <div>WhatsApp: +26774463260</div>
                                                <div>Facebook: <a href="https://www.facebook.com/cabitafrica" target="_blank">https://www.facebook.com/<wbr>cabitafrica</a></div>
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div style="font-size:23px;font-weight:bold;color:#2E6EB7">Is my Personal information Secure?</div>
                                            <div style="font-size: 16.67px;">YES- we take security of our customer information very seriously. As such customer information is stored securely and will NEVER be shared with third parties. </div>
                                        </div>
<div>
                                            <div style="font-size:23px;font-weight:bold;color:#2E6EB7">Is my Personal information Secure?</div>
                                            <div style="font-size: 16.67px;">YES- we take security of our customer information very seriously. As such customer information is stored securely and will NEVER be shared with third parties. </div>
                                        </div> -->
                                    