<!--<p>-->
    <!--The minimum fare is  Rs. 25 for 2 kms after which a rate of Rs. 6 per km is charged. Further ride time charges of Rs. 1 per minute are charged for your entire ride duration.-->

<!--</p><p>-->
    <!--The meter will start after you have boarded the vehicle, however, the driver can start the meter when you have asked the auto to wait for you.-->
<!--<p></p>-->
    <!--At a time a maximum of only  three people are allowed to board the vehicle.-->
<!--</p>-->

<p></p>
