<div>

<h1>

drivenLimousines PRIVACY POLICY

</h1>
 </div>

<!-- 
                                        <div> 
                                            <p style="font-size:20px;">General</p>
                                            <p style="font-size:16.67px;">Please read carefully these terms before you accepttttt them and go on to install the app. Once you install the app, you will be assumed to have accepted all the following terms and conditions.</p>
                                        </div><br>
                                        <div> 
                                            <p style="font-size:20px;">Definitions</p>
                                            <p style="font-size:16.67px;">The app or application means the software provided to you by Click Labs running on Apple iOS or devices running any such other OS. This includes any upgrades provided or other documentation or software required to run the application.</p>
                                        </div><br>
                                         <div> 
                                            <p style="font-size:20px;">Data Protection</p>
                                            <p style="font-size:16.67px;">Any personal data users provide Click Labs while using the app will be utilized according to its privacy policy. (Need aprivacy policy to link to here)

If you are able to access some functionality on Click Labs' website through the app, your access will be governed by the website's terms of use.

We may forward your personal information to the appropriate authorities, if we find that you've used your device or our service for an unlawful purpose. </p>
                                        </div><br>
                                        <div> 
                                            <p style="font-size:20px;">Proprietary Rights and Licence</p>
                                            <div style="font-size:16.67px;">
                                            <ul style="list-style-type:square">
                                                <li>Click Labs owns all intellectual property (IP) rights for the app, including the underlying code, database rights, copyright and all trade marks, either directly or through licensors.</li>
                                                <li>Click Labs grants you a revocable license for personal and business use. The license is royalty-free and non-exclusive and is applicable globally.</li>
                                            </ul>
                                        </div>
                                        </div><br>
                                           <div> 
                                            <p style="font-size:20px;">Conditions of Use</p>
                                            <div style="font-size:16.67px;">
                                            <ul style="list-style-type:square">
                                                
                                                <li>Create and distribute copies of the app.</li>
                                                <li>Try to copy or modify the app through reverse engineering or to translate it into another language.</li>
                                                <li>Make derivatives of the app in any form</li>
                                                </ul>
                                                <p>Click Labs may charge for the app, even if it is provided free for download, for any reason and at any time.</p>
                                                <p>Click Labs may also amend or withdraw the app for any reason and at any time.</p>
                                                <p>The agreement you have with your mobile network provider will continue to apply when you access the app's features through the network.</p>
                                                <p>To use the app, you must have a compatible phone or handheld device, along with internet access and the minimum software requirements. The software requirements are Apple iOS devices running iOS 4 or iOS 5</p>
                                                
                                            
                                        </div>
                                        </div><br>
                                           <div> 
                                            <p style="font-size:20px;">Termination</p>
                                            <div style="font-size:16.67px;">
                                                <ul style="list-style-type:square">
                                                    <li>Click Labs may terminate use of the Application at any time by giving notice of termination to you.  </li>
                                                    <li>Upon any termination, (a) the rights and licenses granted to you herein shall terminate; (b) you must cease all use of the Software;</li>
                                                    <li>Click Labs will make reasonable efforts to keep the app available at all times but won't be responsible for malfunction of mobile and internet networks.</li>
                                                    
                                                </ul>
                                            </div>
                                            <p style="font-size:16.67px;">YOU EXPRESSLY UNDERSTAND AND AGREE THAT CLICK LABS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF CLICK LABS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES) RESULTING FROM: (I) THE USE OR THE INABILITY TO USE THE CLICK LABS APPLICATION; (II) THE INABILITY TO USE THE CLICK LABS APPLICATION TO ACCESS CONTENT OR DATA; (III) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; (IV) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; OR (V) ANY OTHER MATTER RELATING TO THE CLICK LABS APPLICATION. THE FOREGOING LIMITATIONS SHALL APPLY NOTWITHSTANDING A FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY AND TO THE FULLEST EXTENT PERMITTED BY LAW. </p>
                                        </div><br>
                                        
                                     -->