
<div>

<h1>

drivenLimousines TERMS AND CONDITIONS

</h1>
 </div>
<!--<p><b>-->
<!--JUGNOO TERMS OF SERVICE-->
<!--</b>-->
<!--</p>-->

<!--<p>-->
<!--NOV 14, 2014-->
<!--</p>-->

<!--<p>-->
<!--THIS FOLLOWING USER AGREEMENT DESCRIBES THE TERMS AND CONDITIONS ON WHICH JUGNOO TECHNOLOGIES LLP. OFFERS YOU ACCESS TO THE JUGNOO PLATFORM.-->
<!--</p>-->
<!--<p>-->
<!--Welcome to the user agreement (the "Agreement" or "User Agreement" or "Terms of Service") for Jugnoo (the "Jugnoo Platform"), an application owned and operated by Jugnoo Technologies LLP., whose principal office is located at Gali no. 4, Mehal Mubarak Colony, 1st Floor, Sangrur - 148001. This Agreement is a legally binding agreement made between you ("You," "Your," or "Yourself") and Jugnoo Technologies LLP. ("Jugnoo," "We," "Us" or "Our").-->
<!--</p>-->
<!--<p>-->

<!--Jugnoo is willing to license, not sell, the Jugnoo Platform to you only upon the condition that you accept all the terms contained in this Agreement. By signing up with or by using the Jugnoo Platform, You indicate that you understand this agreement and accept all of its terms. If you do not accept all the terms of this Agreement, then Jugnoo is unwilling to license the Jugnoo Platform to You.-->
<!--</p>-->
<!--<p>-->
<!--This paragraph applies to any version of the Jugnoo Platform that you acquire from the Apple App Store. This Agreement is entered into between You and Jugnoo. Apple, Inc. ("Apple") is not a party to this agreement and shall have no obligations with respect to the Jugnoo Platform. Jugnoo, not Apple, is solely responsible for the Jugnoo Platform and the content thereof as set forth hereunder. However, Apple and Apple's subsidiaries are third party beneficiaries of this Agreement. Upon Your acceptance of this agreement, Apple shall have the right (and will be deemed to have accepted the right) to enforce this agreement against You as a third party beneficiary thereof. This agreement incorporates by reference the Licensed Application End User License Agreement published by Apple, for purposes of which, You are "the end-user." In the event of a conflict in the terms of the Licensed Application End User License Agreement and this Agreement, the terms of this Agreement shall control.-->
<!--</p>-->
<!--<p>-->
<!--The Jugnoo Platform provides a means to enable persons who seek transportation to certain destinations ("Riders") to be matched with persons driving to or through those destinations ("Drivers"). For purposes of this Agreement these services shall collectively be defined as the "Services". This agreement describes the terms and conditions that will govern your use of and participation in the Jugnoo Platform.-->
<!--</p>-->
<!--<p>-->
<!--Please read this agreement carefully before using the services. You must read, agree with and accept all of the terms and conditions contained in this agreement, which includes those terms and conditions expressly set out below and those incorporated by reference, before you use any of the services. By using any of the services, You become a participant in Jugnoo and a user of services available on the Jugnoo Platform ("Participant" or "User") and you agree to be bound by the terms and conditions of this agreement with respect to such services.-->
<!--</p>-->
<!--<p>-->
<!--IF YOU DO NOT AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT, PLEASE DO NOT USE OR ACCESS JUGNOO OR REGISTER FOR THE SERVICES PROVIDED ON JUGNOO. We may amend this agreement at any time by posting the amended terms on the Jugnoo Platform. If we post amended terms on the Jugnoo Platform, You may not use the services without accepting them. Except as stated below, all amended terms shall automatically be effective after they are posted on the Jugnoo Platform. This Agreement may not be otherwise amended except in writing signed by You and Jugnoo.-->
<!--</p>-->
<!--<p>-->
<!--JUGNOO DOES NOT PROVIDE TRANSPORTATION SERVICES, AND JUGNOO IS NOT A TRANSPORTATION CARRIER. IT IS UP TO THE DRIVER OR VEHICLE OPERATOR TO DECIDE WHETHER OR NOT TO OFFER A RIDE TO A RIDER CONTACTED THROUGH THE JUGNOO PLATFORM, AND IT IS UP THE RIDER TO DECIDE WHETHER OR NOT TO ACCEPT A RIDE FROM ANY DRIVER CONTACTED THROUGH THE JUGNOO PLATFORM. ANY DECISION BY A USER TO OFFER OR ACCEPT TRANSPORTATION ONCE SUCH USER IS MATCHED THROUGH THE JUGNOO PLATFORM IS A DECISION MADE IN SUCH USER'S SOLE DISCRETION. JUGNOO OFFERS INFORMATION AND A METHOD TO CONNECT DRIVERS AND RIDERS WITH EACH OTHER, BUT DOES NOT AND DOES NOT INTEND TO PROVIDE TRANSPORTATION SERVICES OR ACT IN ANY MANNER AS A TRANSPORTATION CARRIER, AND HAS NO RESPONSIBILITY OR LIABILITY FOR ANY TRANSPORTATION SERVICES VOLUNTARILY PROVIDED TO ANY RIDER BY ANY DRIVER USING THE JUGNOO PLATFORM.-->
<!--</p>-->
<!--<p>-->
<!--PAYMENTS</br>-->
<!--Charges. As a Rider, You agree that any mandatory amounts charged following a ride (a “Charge”) are due immediately. Jugnoo reserves the right to determine pricing. In all markets, no Charge may exceed two thousand rupees (Rs. 2000).-->
<!--</p>-->
<!--<p>-->
<!--Administrative Fee. Jugnoo may receive an administrative fee (the "Administrative Fee") for each Charge. -->
<!--</p>-->
<!--<p>-->
<!--Refunds. All payments made are non-refundable. This no-refund policy shall apply at all times regardless of a Rider's decision to terminate usage of Jugnoo, our decision to terminate a Rider's usage, disruption caused to our Services either planned, accidental or intentional, or any other reason whatsoever.-->
<!--</p>-->
<!--<p>-->
<!--Promotional Offers. Jugnoo, at its sole discretion, may make available promotional offers with different features to any of our customers. These promotional offers, unless made to you, shall have no bearing whatsoever on your offer or contract. Jugnoo may change its administrative fee as we deem necessary for our business. We encourage You to check this agreement periodically if you are interested in keeping abreast of the rate of our administrative fee.-->
<!--</p>-->
<!--<p>-->
<!--Cancellation Fee. In the event that a Rider cancels a ride request on the Jugnoo Platform more than 5 minutes after such a request is made, Rider agrees to pay a "Cancellation Fee" of Rs. 10, however Jugnoo is at its discretion to charge this fee from the Rider or not.-->
<!--</p>-->
<!--<p>-->
<!--ELIGIBILITY</br>-->
<!--Our Services are available only to, and may only be used by individuals who can form legally binding contracts under applicable law. By using the Jugnoo Platform or the Services, You represent and warrant that You have the right, authority and capacity to enter into this agreement and to abide by the terms and conditions of this Agreement.-->
<!--You are the sole authorized user of Your account. You are responsible for maintaining the confidentiality of any password provided by You or Jugnoo for accessing the Services. You are solely and fully responsible for all activities that occur under your password or account. Jugnoo has no control over the use of any User's account and expressly disclaims any liability derived therefrom. Should You suspect that any unauthorized party may be using your password or account or you suspect any other breach of security, you will contact us immediately.-->
<!--</p>-->
<!--<p>-->
<!--TERM AND TERMINATION</br>-->
<!--This Agreement is effective upon use of the Jugnoo Platform or the Services for new users and upon the posting dates of any subsequent amendments to this agreement for all current Users. You may terminate your participation in the services at any time, for any reason upon receipt by us of your written or email notice of termination. Either you or we may terminate your participation in the Jugnoo platform by removing your information at any time, for any or no reason, without explanation, effective upon sending written or email notice to the other party. Upon such termination, we will remove all of your information from our servers, though we may retain an archived copy of records we have about you as required by law or for legitimate business purposes. We maintain sole discretion to bar your use of the services in the future, for any or no reason. Even after your participation in the Jugnoo Platform is terminated, this agreement will remain in effect.-->
<!--</p>-->
<!--<p>-->
<!--YOUR INFORMATION</br>-->
<!--Your Information is any information you provide, publish or display ("post") to the Jugnoo Platform or send to other users in the registration or in any public message area (including, but not limited to the feedback section) or through any email feature ("Your Information"). Your Information will be stored on computers. You consent to us using Your Information to create a user account that will allow you to participate in the Services. You are solely responsible for Your Information and your interactions with other people in the public, and We act only as a passive conduit for your online posting of your Information. When you use the Jugnoo Platform, You agree to provide accurate, current and complete information as prompted by our registration form and to maintain and timely update your information to keep it accurate, current and complete at all times during the Terms of the Agreement. You agree that we and other people of the public may rely on your information as accurate, current and complete. You acknowledge that if your information is untrue, inaccurate, not current or incomplete in any respect, We have the right to terminate this agreement and your use of the services.-->
<!--</p>-->
<!--<p>-->
<!--CONTACTING JUGNOO</br>-->
<!--If You have any questions about this statement, the practices of Jugnoo, or Your dealings with Jugnoo, You may contact us at support@jugnoo.com.-->
<!--</p>-->


<p></p>