<!--<p>-->
<!--All orders received between 9 am - 5 pm would be delivered the same day.-->
<!--</br>-->
<!--Items ordered after 5 pm will be delivered next day.-->
<!--</br>-->
<!--Payments for your order is to be made in CASH only at the time of delivery.-->
<!--</p>-->
<!--<p>-->
<!--For cancellation of your order or any further queries please send us an email at support@jugnoo.in or call us at +91 9023-121-121.-->
<!--</p>-->


<p></p>