<!--<p>-->
    <!--<ol>-->
        <!--<li>You can book rides at least sixty minutes in advance.</li>-->
        <!--<li>Rides scheduled at the time when you have already requested another ride and that ride has not yet finished or cancelled won't be fulfilled.</li>-->
        <!--<li>Jugnoo reserves the right to not fulfill the scheduled ride request under exceptional circumstances.</li>-->
        <!--<li>Jugnoo reserves the right to start billing immediately at the scheduled pickup time in case the driver has reached your requested pickup location.</li>-->
    <!--</ol>-->
<!--</p>-->

<p></p>